<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Barnard BLE scan + advertise permissions (API 31+ runtime-prompted;
         neverForLocation opts out of the location-permission fallback since
         this app only uses BLE for proximity, not positioning). -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.Beid"
        android:supportsRtl="true">

        <activity
            android:name=".venue.VenueActivity"
            android:exported="false"
            android:theme="@style/Theme.Beid" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Beid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
